html {
  margin: 0;
  width: 100%;
  height: 100%;

}

body {

  width: 100%;
  height: 100%;

  overflow: hidden;

  margin: 0;
  display: flex;

  justify-content: center;

  align-items: center;

}

.editor {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

#lineNumbers {
  margin: 0;
  background-color: #252525;
  width: 65px;
  height: auto;
  resize: none;
  outline: none;
  border: none;
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
  overflow-y: hidden;
}

#calcAnswers {
  margin: 0;
  background-color: #151515;
  width: 500px;
  height: auto;
  resize: none;
  outline: none;
  border: none;
  font-size: 30px;
  color: #FFFFFF;
  overflow-y: hidden;
}

#codeText {
  background-image: linear-gradient(#181818 50%, #191919 50%);
  background-size: 100% 70px;

  color: #FFFFFF;
  margin: 0;
  width: 100%;
  font-size: 30px;
  height: auto;
  resize: none;
  outline: none;
  border: none;
  overflow-wrap: normal;
  overflow-x: scroll;
}